.LoginPage{
    background-color: black;
}
.LoginPage .form-control{
    border-block-end-width: 0pt;
}
.LoginPage .alert{
    text-align: center;
}
.LoginPage .row{
    text-align: center;
}
.inputArea{
    padding: 5% 20% 5% 20%;
    color: aliceblue;
    
}